<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="container content">
      <header class="masthead">
        <a class="masthead-title pull-left" href="{{ site.baseurl }}/" title="Home">
        {% if page.title == "Home" %}
          <img class="faded" src="/public/logo-100px-blue.png">
        {% endif %}
        {% if page.title == "Notes" %}
          <img class="faded" src="/public/logo-100px-green.png">
        {% endif %}
        {% if page.title == "Augusto Guerrero" %}
          <img class="faded" src="/public/logo-100px-purple.png">
        {% endif %}
        {% if page.title == "Contact" %}
          <img class="faded" src="/public/logo-100px-orange.png">
        {% endif %}
        {% if page.title == "First commit" %}
          <img class="faded" src="/public/logo-100px-red.png">
        {% endif %}
        </a>
        <!-- <small>{{ site.tagline }}</small> -->
        <div class="header">
          <ul class="nav nav-pills pull-right centered">
            <li class="passive"><a href="/notes">Notes</a></li>
            <li class="passive"><a href="/cv">CV</a></li>
            <li class="passive"><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </header>

      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. Guerrero - All rights reserved.
        </small>
      </footer>
    </div>

    {% if site.analytics_id %}
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
       ga('create', '{{ site.analytics_id }}', 'auto');
       ga('send', 'pageview');
     </script>
    {% endif %}
  </body>
</html>
